@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    background: #faf8f8;
}

.card:hover{
    box-shadow: 0px 5px 20px rgba(0, 10, 5, 0.3);
}

.sort{
    width: 100%;
    text-align: left;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 15px;
    border-radius: 25px;

}
.sort:hover{
    background-color:#BBA7FB;
}

.popup{
    border-radius: 25px;
    box-shadow: 0px 5px 20px rgba(0, 10, 5, 0.3);
}

@media(max-width:560px){

    .searchAndFilter{
        flex-direction: column;
        gap: 1rem;
    }
}

@media(max-width: 1560px){
    .employeeDetailCard{
        width: 90% !important;
    }
}

@media(max-width: 700px){
    .employeeDetailCard{
        flex-direction: column;
        width: 50% !important;
        margin-top: 2rem !important;
        margin-left: 2px !important;
        margin-right: 2px !important;
    }
    img{
        width: 250px !important;
    }
}

@media(max-width: 1120px){
    .discard{
        width: 120px !important; 
        height: 140px !important;
    }
    .cardgroup{
        flex-direction: column;
    }
}

@media(max-width: 780px){
    .cardgraphgroup{
        flex-direction: column;
    }
    .cardgroup{
        justify-content: center;
        padding: auto;
        margin: auto;
    }
}

@media(max-wid: 400px){
    .cardgroup2{
        flex-direction: column !important;
    }
}